.chat
  .chat--name{data: {name_id:"name"}}
    = chatarea.user.name
  .chat--date{data: {date_id: "date"}}
    = chatarea.created_at.strftime("%Y/%m/%d %H:%M")
  .chat--message{data: {message_id: "message"}}
    = chatarea.message
  .chat--image{data: {image_id: "image"}}
    = image_tag chatarea.image.to_s
 