.chat
  .chat--name
    = chatarea.user.name
  .chat--date
    = chatarea.created_at.strftime("%Y/%m/%d %H:%M")
  .chat--message
    = chatarea.message
  .chat--image
    = image_tag chatarea.image.to_s
 



