a {
  text-decoration: none;
}

.leftContent {
  float: left;
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  position: fixed;
  
  // bottom: 0;

  &__top {
    padding: 0 20px 0 20px;
    height: 100px;
    background-color: #253141;
    line-height: 100px;

    &--name {
        color: #ffffff;
        float:left;
        font-size:16px;
        font-weight: bold;
      }
    &--menu a {
      text-decoration: none;
      color: #ffffff;
      float: right;
      padding-left: 10px;
    }
  }

  &__groups {
    padding: 20px 20px 0 20px;
    height: calc(100vh - 100px);
    overflow: scroll;
    .groups__group {
      margin-bottom: 40px;

        .groups__group--name  {
        font-size:15px;
        margin-bottom: 5px;
        text-decoration: none;
        color: #ffffff;
        }

      .groups__group--message  {
      font-size:11px;
      text-decoration: none;
      color: #ffffff;
        }
        
     }
    }
}




