.inputArea {
  background-color:#ddd;
  padding: 20px 40px;
  width: 100%;
  position: relative;

      &__textArea {
        line-height: 90px;
        padding-left: 10px;
        height: 50px;
        width: 80%;
        margin-right: 20px;
        position: relative;
   
        
        &--selectImages {
          .hidden {
            display: none;
            
          }
        }
      }
      
      &--sendBtn {
        height: 50px;
        background-color: #38AEF0;
        color: white;
        width: 100px;
        text-align: center;
        margin: 0 0 0 15px;
        float: right;
    }
    
}
